
body {
    background-color: orange;
}
.container {
    width: 100%;
    margin: 0 auto;
    background-color: white;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

span {
    font-size: 4rem;
    color: white;
    padding: 0 10px;
}

label {
    padding-left: 10px;
}
